//Archivos importados
@import "_colors"

//reicinicio de navegador    
*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: oswald

//Barra de navegacion
.navbar
    background: $nav-color
.img-logo
    width: 3rem
    filter: invert(100%)
.logo-title
    color: $font-active !important
    font-size: 3rem
.nav-link
    color: $font-color !important
    &.active
        color: $font-active !important
.nav-item
    padding: 1px
    font-size: 1.2rem
    text-align: center
    .nav-link:hover
        color: $font-active !important

.navbar-toggler
    filter: invert(100%)
//carrousel
.carrousel-main
    margin-top: 50px
//indumentaria

.ventas
    background: $back-color
.titulo
    color: $font-active
    text-shadow: 3px 3px $black-color
//grid
.indu-titulo
    color: $font-active
    font-size: 1.5rem
    text-decoration-line: underline
    margin-top: 10%
.indu-parra
    color: $font-active
    text-align: justify
.ver-mas
    text-decoration: none
    color: $font-active
    background: $black-color
    padding: 10px
    border-radius: 10px
    margin-bottom: 20px
    &:hover
        color: $black-color
        background: $font-active
//footer
.lista-item
    display: flex
    list-style: none
    justify-content: center
    align-items: center
    text-align: start
.copy
    background: $black-color
    .copy-parra
        color: $font-active
//media
@media screen and (max-width: 570px)
    .carro-image
        height: 75vh !important
